<div class="text-center">
  <h1>Contact Nelson</h1>
  <p><span class="glyphicon glyphicon-globe">&nbsp</span><a href="https://nelsonlho.github.io/">https://nelsonlho.github.io/</a></p>
  <p><span class="glyphicon glyphicon-envelope"/>&nbsp</span>nelsonlho@gmail.com
  <p><span class="glyphicon glyphicon-phone">&nbsp</span>415.335.1936</p>
</div>
